h1{
    background-color: red;
}

#greeen-text{
    background-color: green;
}

.mag-text {
    color: magenta;
}

#btn {
    border: yellow dashed 2px;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    background-color: darkblue;
    color: white;
    width: 150px;
    text-align: center;
}

#earth {
    width: 30%;
}
